* {
    text-decoration: none;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", Helvetica, sans-serif;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 1.42;
    background: #001821;
    margin: 0;
}

a  {
    color: inherit;
}

ul {
    padding: 0;
    margin: 0;
}

ul li {
    list-style: none;
}

h1, h2, h3, h4 {
    margin: 0;
    font-weight: normal;
}

.container{
    margin: 0 auto;
    width: 1140px;
}

.header {
    min-height: 120px;
    position: relative;
    margin-bottom: 75px;
}

.logo {
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0px;
}

.logo__img {
    width: 85px;
    height: 36px;
}

.nav-menu {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 165px;
}

.nav-menu__item  {
    display: inline-block;
    vertical-align: middle;
    margin-right: 51px;
}

.nav-menu__item:last-child {
    margin-right: 0;
}

.nav-menu__link {
    font-size: 14px;
    line-height: 19px;
    text-decoration: none;
}

.nav-menu__link:hover {
    color: #DA0100;
}

.contacts {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0px;
    text-align: right;
}

.contacts__text {
    color: #9A9A9A;
    font-size: 11px;
}

.contacts__phone {
    font-size: 26px;
    margin-bottom: 0px;
    line-height: 25px;
}

.contacts__work-time  {
    font-size: 13px;
    text-decoration: underline;
    line-height: 15px;
}

.hero__text-section {
    max-width: 515px;
}

.hero__title {
    font-size: 72px;
    font-weight: 700;
    line-height: 98px;
    margin-bottom: 28px;
}

.hero__subtitle {
    font-size: 18px;
    margin-bottom: 30px;
}

.hero {
    margin-bottom: 243px;
}

.btn {
    font-size: 14px;
    background: #F5170E;
    border-radius: 35px;
    padding: 18px 40px;
    color: #FFFFFF;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
}

.btn:hover {
    background: #DA0100;
}

.btn_type_short {
    color: #F5170E;
    background: #FFFFFF;
    border: 1px solid #F5170E;
    padding: 18px 30px;
}

.btn_type_short:hover {
    background: #F5170E;
    color: #FFFFFF;
}

.offer {
    margin-bottom: 127px;
}

.main-title {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 50px;
}

.offer__list {
    
}

.offer__item {
    min-height: 450px;
    background: #FFFFFF;
    border-radius: 5px;
    display: inline-block;
    max-width: 362px;
    margin-right: 22px;
    vertical-align: top;
}

.offer__item:last-child {
    margin-right: 0;
}

.offer__img {
    margin-bottom: 0px;
}

.offer_desc {
    padding: 25px 22px;
}

.offer__name {
    color: #000000;
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 27px;
}

.offer__tour-info {
    margin-top: 5px;
}

.offer__tour-content {
    color: #666666;
    display: inline-block;
    vertical-align: top;
    
    
}

.offer__tour-img {
    padding-left: 5px;
    vertical-align: middle;
}

.offer__tour-text {
    display: inline-block;
    padding-left: 5px;
    padding-right: 20px;
}

.offer__info {
    color: #303030;
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 20px;
    line-height: 1.6;
}

.offer__icon {
    padding-left: 7px;
}

.news__list {
    display: inline-block;
    margin-bottom: 50px;
    margin-right: 10px;
}

.news__list:last-child {
    margin-right: 0px;
}

.news__item {
    max-width: 557px;
    display: inline-block;
    vertical-align: top;
    position: relative;
    border-radius: 5px;
}

.news__img {
    display: inline-block;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    overflow: hidden;
}

.news__img:last-child {
    margin-left: 10px;
}

.news__container {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 25px  50px;
    min-height: 180px;
    

}

.news__date {
    display: inline-block;
    font-size: 14px;
    margin-bottom: 13px;
}

.news__name {
    display: block;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 4px;
}

.news__specification {
    display: inline-block;
    margin: 0;
}

.pagination {
    text-align: center;
    margin-bottom: 125px;
}

.pagination__title, .pagination__list {
    display: inline-block;
    vertical-align: middle;
}

.pagination__title {
    margin-bottom: 25px;
    margin-right: 0px;
    margin-left: 15px;
    padding-right: 20px;
}

.pagination__link {
    color: #FFFFFF;
    line-height: 32px;
    font-weight: 700;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    width: 32px;
    height: 32px; 
}

.pagination__link:hover {
    color: #F5170E;
    background: #FFFFFF;
}

.pagination__item {
    display: inline-block;
    padding-bottom: 20px;
}

.about-us::before {
    content: "";
    display: inline-block;
    vertical-align: top;
    width: 490px;
    height: 505px;
    background: url(https://github.com/multiair34/air-asia/blob/main/gates.png?raw=true) center center / cover no-repeat;
    border-radius: 5px;
}

.about-us__wrap {
    background: url('https://github.com/multiair34/air-asia/blob/main/mountains.png?raw=true')  center center / cover no-repeat;
    padding: 68px 202px 164px 81px;
    display: inline-block;
    vertical-align: top;
    width: 785px;
    max-height: 455px;
    margin-left: -140px;
    margin-top: 95px;
}

.about-us__title {
    font-weight: 700;
    font-size: 36px;
    color: #000000;
    margin-bottom: 37px;
}

.about-us__text {
    color: #060606;
    margin-bottom: 70px;
}

.about-us__text p {
    line-height: 1.7;
    margin-bottom: 20px;
    text-align: left;
}

.about-us__text p:last-child {
    margin-bottom: 0;
}

p {
    margin-top: 0;
}

.footer-container__content {
    border-top: 1px  solid #FFFFFF;
    opacity: 0.1;
    
}

.footer {
    min-height: 146px;
    position: relative;
    top: 75px;
    
}

.socials {
    display: inline-block;
    text-align: center;
    
}

.socials__item {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

.socials__item:last-child  {
    margin-right: 0;
}

.socials__link {
    display: block;
    text-decoration: none;
    width: 36px;
    height: 36px;
}

.socials {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 260px;
}

.main-page-wrapper {
    width: auto;
    background: url(https://github.com/multiair34/air-asia/blob/main/1.png?raw=true) center top no-repeat, url(https://github.com/multiair34/air-asia/blob/main/2.png?raw=true)  center bottom 165px no-repeat;
}

