.hero {
    color: #FFFFFF;
    margin-bottom: 243px;

    &__text-section {
        max-width: 515px;
        display: flex;
        flex-direction: column;
        align-content: stretch;
        align-items: flex-start;
    }
    &__title {
        font-size: 72px;
        font-weight: 700;
        line-height: 98px;
        margin-bottom: 28px;
    }
    &__subtitle {
        font-size: 18px;
        margin-bottom: 30px;
    }
    &__services {
        margin: 0;
        margin-bottom: 110px;
        padding-bottom: 10px;
        background: url(https://github.com/multiair34/air-asia/blob/main/img/headline.png?raw=true) center top no-repeat, linear-gradient(90deg, #01131d, #02303a);
    }
    &__title-services {
        margin-bottom: 70px;
        margin-top: 0px;
    }
    &_start {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-width: 591px;
        min-height: 248px;
        margin-bottom: 0;
        background: url(https://github.com/multiair34/air-asia/blob/main/img/shades.png?raw=true);
        p {
            font-size: 18px;
        }
    }
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 120px;
    margin-bottom: 90px;
    &__services {
        margin: 0;
        margin-bottom: 40px;
    }
}

.logo {
    &__img {
        max-width: 85px;
        max-height: 36px;
    }
}

.nav-menu {
    display: flex;
    flex-basis: 690px;
    &__list {
        display: flex;
        flex-basis: 400px;
        justify-content: space-evenly;
        &:last-child {
            margin-right: 0;
        }
    }
    
    &__link {
        font-size: 14px;
        line-height: 19px;
        text-decoration: none;
        &:hover {
            color: #DA0100;
            transition: 1s;
        }
    }
}

.contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    &__text {
        color: #9A9A9A;
        font-size: 11px;
    }

    &__phone {
        font-size: 26px;
        margin-bottom: 0px;
        line-height: 25px;
    }

    &__work  {
        position: relative;
        display: inline-block;

        &-figure {   
            border: 10px solid transparent;
            width: 0px; 
            height: 0px;
            border-bottom-color: #EDEDED;   
            border-top-width: 0;
        }   

        &-quad {
            position: absolute;
            width: 160px;
            height: 70px;
            background: #EDEDED;
            border-radius: 5px;
            left: 0px;
        }

        &-time  {
            order: 10;
            font-size: 13px;
            text-decoration: underline;
            line-height: 15px;
            color: #98A4A8;

            &:hover {
                color: #FFFFFF;
            }
        }

        &-dropdown {
            position: absolute;
            padding: 10px;
            width: 200px;
            top: 100%;
            display: none;
            opacity: 0;
            transition: opacity .4s;
            left: -9999px;

            &::before {
                content: "";
                display: block;
                height: 200px;
                left: 0px;
                right: 0px;
                top: -15px;
                position: absolute;
            }

            &-item {
                font-size: 13px;
                line-height: 21px;
                font-weight: 700;
                color: #1E1F20;
                position: relative;
                padding: 15px 10px;
                padding-bottom: 0;
                &:last-child {
                    font-weight: 600;
                    padding: 0 10px;
                }
            }
        }
    }
}

.btn {
    font-size: 14px;
    background: #F5170E;
    border-radius: 35px;
    padding: 18px 40px;
    color: #FFFFFF;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;

    &:hover {
        background: #DA0100;
        transition: 0.5s;
    }
    
    &_type_short {
        color: #F5170E;
        background: #FFFFFF;
        border: 1px solid #F5170E;
        padding: 18px 30px;
          
        &:hover {
            background: #F5170E;
            color: #FFFFFF;
            transition: 0.5s;
        }
    }
    
    &_start {
        font-size: 14px;
        font-weight: 700;
        padding: 18px 58px;
    }
    
    &__comment {
        margin-right: 18px;
        background: #8E8E8E;

        &:hover {
            background: #2B2B2B;
            transition: 0.5s;
        }

        &:nth-last-child(1) {
            margin-right: 0;
        }
    }
}

.offer {
    margin-bottom: 127px;

    &__list {
        display: flex;
        justify-content: space-around;
    }

    &__item {
        min-height: 450px;
        background: #FFFFFF;
        border-radius: 5px;
        max-width: 362px;
        margin-right: 22px;

        &:last-child {
            margin-right: 0;
        }
    }

    &__img {
        margin-bottom: 0px;
        width: 100%;
    }
    
    &_desc {
        padding: 25px 22px;
    }
    
    &__name {
        color: #000000;
        font-weight: 700;
        font-size: 24px;
        margin-top: 2px;
        margin-bottom: 25px;
    }

    &__tour {

        &-info {
            margin-top: 5px;
            display: flex;
        }
        
        &-content {
            display: flex;
            color: #666666;
            align-items: flex-start;
        }
        
        &-img {
            padding-left: 5px;
            vertical-align: middle;
        }
        
        &-text {
            padding-left: 5px;
            padding-right: 20px;
        }
    }

    &__info {
        color: #303030;
        font-size: 14px;
        margin-top: 10px;
        margin-bottom: 20px;
        line-height: 1.6;
    }
    
    &__icon {
        padding-left: 7px;
    }
}
    
.main-title {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 50px;
}

.news {

    &__list {
        display: flex;
        margin-bottom: 50px;
        justify-content: space-around;

        &:last-child {
            margin-right: 0px;
        }
    }

    &__item {
        min-width: 557px;
        display: inline-flex;
        vertical-align: top;
        position: relative;
        min-height: 400px;
        align-items: flex-end;
        margin-right: 20px;

        &:last-child {
            margin-right: 0px;
        }
    }

    &__img {
        display: inline-block;
        max-width: 100%;
        max-height: 100%;
        object-fit: cover;
        overflow: hidden;
        position: absolute;
        border-radius: 5px;

        &:last-child {
            margin-left: 10px;
        }
    }

    &__container {
        padding: 25px 50px;
        max-height: 180px;
        z-index: 1;
        position: relative;
    }
    
    &__date {
        display: inline-block;
        font-size: 14px;
        margin-bottom: 13px;
    }
    
    &__name {
        display: block;
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 4px;
    }
    
    &__specification {
        display: inline-block;
        margin: 0;
        padding-bottom: 31px;
    }
}

.pagination {
    display: flex;
    margin-bottom: 125px;
    align-items: baseline;
    justify-content: center;

    &__title {
        margin-bottom: 25px;
        margin-right: 0px;
        margin-left: 15px;
        padding-right: 20px;
    }
    
    &__link {
        color: #FFFFFF;
        line-height: 32px;
        font-weight: 700;
        border-radius: 50%;
        min-width: 32px;
        min-height: 32px;
        display: flex;
        justify-content: space-around;

        &:hover {
            color: #F5170E;
            background: #FFFFFF;
            transition: 0.5s;
        }

        &-services {
            color: #000000;

            &:hover {
                color: #fff;
                background: #F5170E;
                transition: 0.5s;
            }
        }
    }

    &__item {
        display: inline-block;
        padding-bottom: 20px;
    }
    
    &_services {
        margin-bottom: 0px;
    }
}

.about-us {
    display: flex;

    &::before {
        content: "";
        min-width: 490px;
        max-height: 505px;
        background: url(https://github.com/multiair34/air-asia/blob/main/img/gates.png?raw=true) center center / cover no-repeat;
        border-radius: 5px;
    }

    &__wrap {
        background: url('https://github.com/multiair34/air-asia/blob/main/img/mountains.png?raw=true')  center center / cover no-repeat;
        padding: 68px 202px 164px 81px;
        min-width: 785px;
        min-height: 455px;
        margin-left: -140px;
        margin-top: 95px;
    }

    &__title {
        font-weight: 700;
        font-size: 36px;
        color: #000000;
        margin-bottom: 37px;
    }

    &__text {
        color: #060606;
        margin-bottom: 70px;

        p {
            line-height: 1.7;
            margin-bottom: 20px;
            text-align: left;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

.footer {
    &-container {
        &__content {
            border-top: 1px  solid #FFFFFF;
            opacity: 0.1;
        }
        &__services {
            background-color: #001821;
            color: #fff;
        }
    }

    &{
        min-height: 146px;
        margin-top: 50px;
        display: flex;
        align-items: center;
    }

    &__col {
        display: flex;
        flex-basis: 500px;
        justify-content: space-evenly;
    }

    &__services {
        margin-top: 0;
    }
}

.services {
    margin-bottom: 95px;

    &__item {
        display: flex;
        align-items: flex-start;
        margin-bottom: 30px;

        &-img {
            margin-right: 56px;
            
        }

        &-text {
            padding-bottom: 0px;

            h3 {
                display: flex;
                font-size: 36px;
                font-weight: 700;
                margin-bottom: 29px;
            }

            p {
                font-size: 16px;
                color: #303030;
                line-height: 30px;
            }
        }
        &:last-child {
            margin-bottom: 0;
        }
    }
    
    &__list {
        margin-bottom: 30px;
    }
}

.transit {
    display: flex;

    &__item {
        display: flex;  
        font-size: 14px;
        color: #9A9A9A;
        text-decoration-line: underline;
        padding-right: 5px;

        &:nth-last-child(2) {
            text-decoration: none;
        }

        &:nth-last-child(1) {
            font-weight: 700;
        }
    }
}

.socials {
    display: flex;
    position: relative;

    &__link {
        display: block;
        text-decoration: none;
        width: 36px;
        height: 36px;
    }

    &__item {
        display: inline-block;
        vertical-align: middle;
        margin-right: 10px;
        position: relative;

        &:last-child  {
            margin-right: 0;
        }

        &:nth-child(1)::before {
            content: '';
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            min-width: 36px;
            min-height: 36px;
            background: url(https://github.com/multiair34/air-asia/blob/main/icons/css_sprites.png?raw=true) -66px -122px;
        }

        &:nth-child(2)::before {
            content: '';
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            min-width: 36px;
            min-height: 36px;
            background: url(https://github.com/multiair34/air-asia/blob/main/icons/css_sprites.png?raw=true) -10px -122px;
        }

        &:nth-child(3)::before {
            content: '';
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            min-width: 36px;
            min-height: 36px;
            background: url(https://github.com/multiair34/air-asia/blob/main/icons/css_sprites.png?raw=true) -122px -10px;
        }
        
        &:nth-child(4)::before {
            content: '';
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            min-width: 36px;
            min-height: 36px;
            background: url(https://github.com/multiair34/air-asia/blob/main/icons/css_sprites.png?raw=true) -122px -66px;
        }

        &:hover::after {
            content: '';
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            min-width: 36px;
            min-height: 36px;
            background: url(https://github.com/multiair34/air-asia/blob/main/icons/css_sprites.png?raw=true) -10px -66px;
            transition: 0.3s;
        }

        &:nth-child(2):hover::after {
            content: '';
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            min-width: 36px;
            min-height: 36px;
            background: url(https://github.com/multiair34/air-asia/blob/main/icons/css_sprites.png?raw=true) -66px -66px;
            transition: 0.3s;
        }

        &:nth-child(3):hover::after {
            content: '';
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            min-width: 36px;
            min-height: 36px;
            background: url(https://github.com/multiair34/air-asia/blob/main/icons/css_sprites.png?raw=true) -10px -10px;
            transition: 0.3s;
        }

        &:nth-child(4):hover::after {
            content: '';
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            min-width: 36px;
            min-height: 36px;
            background: url(https://github.com/multiair34/air-asia/blob/main/icons/css_sprites.png?raw=true) -66px -10px;
            transition: 0.3s;
        }
    }
}

.reviews {
    margin-bottom: 65px;

    &__list {
        margin-bottom: 76px;
        column-count: 2;
        column-gap: 27px;
    }
     
    &__item {
        background: #F4F5F5;
        border-radius: 5px;
        display: inline-flex;
        max-width: 557px;
        flex-direction: column;
        margin-bottom: 17px;

        &:nth-last-child(3) {
            margin-right: 0;
        }
        
        &:nth-last-child(1) {
            margin-right: 0;
            margin-bottom: 0px;
        }
        
        &-info {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            padding: 50px 0 27px 28px;
        }
        
        &-img {
            padding-right: 22px;
        }
        
        &-socials {
            padding-right: 40px;
        }
        
        &-text {
            padding: 0 31px;
            padding-bottom: 34px;

            h3 {
                color: #1A1B1E;
                font-size: 30px;
                font-weight: 700;
                line-height: 42px;
                padding-bottom: 13px;
            }

            p {
                color: #818181;
                font-size: 16px;
                line-height: 27px;
                padding-bottom: 48px;
                margin-bottom: 0;
            }

            span {
                color: #1A1B1E;
                font-size: 14px;
                font-weight: 600;
                line-height: 27px;
            }
        }

        &-cont {
            display: flex;
            flex-wrap: wrap;
            align-items: center;

            a {
                font-size: 24px;
                font-weight: 700;
                line-height: 42px;
                color: #1A1B1E;
                padding-right: 7px;

                &:hover {
                    color: #2E77A4;
                    text-decoration-line: underline;
                }
            }
        }

        &-geo {
            color: #303030;
            font-size: 13px;
            line-height: 18px;
            padding: 10px 18px;
            background: #B9EAE4;
            border-radius: 35px;
        }


    }
}

.comment {
    background: #F4F5F5;

    h2 {
        color: #1A1B1E;
        font-size: 48px;
        line-height: 65px;
        font-weight: 700;
        margin-bottom: 57px;
    }

    &-form {
        margin-bottom: 23px;

        &__form {
            display: flex;
            flex-wrap: wrap;
        }
        
        &__text {
            min-width: 556px;
            min-height: 65px;
            border-radius: 5px;
            background: #fff;
            margin-right: 28px;
            padding: 20px 30px;
            font-size: 18px;
            margin-bottom: 26px;
            border: 1px solid #fff;

            &:nth-child(2) {
                min-width: 556px;
                min-height: 65px;
                border-radius: 5px;
                background: #fff;
                border: 0;
                margin-right: 0px;
                padding: 20px 30px;
            }

            &:focus {
                border: 1px solid #F5170E;
            }
        }

        &__textarea {
            min-width: 1140px;
            min-height: 235px;
            font-size: 18px;
            border-radius: 5px;
            border: 1px solid #fff;
            padding: 30px;

            &:focus {
                border: 1px solid #F5170E;
            }
        }
    }

    &-quest {
        display: flex;
        align-items: baseline;
        justify-content: space-between;
        margin-bottom: 32px;

        span {
            font-size: 18px;
            color: #1A1B1E;
            margin: 0;
            padding-right: 80px;
            width: auto;
            white-space: nowrap;
        }
    
        &__list {
            display: flex;
            flex-wrap: wrap;

            input{
                display: none;

                &:checked ~  .comment-quest__item {
                    background: #B9EAE4
                }
            }
        }

        &__item {
            background: #E7E7E7;
            border-radius: 35px;
            padding: 10px 15px;
            margin: 4px;
            font-size: 13px;

            &:hover {
                background: #B9EAE4;
                transition: 0.5s;
            }
            
        }
    }

    &__but {
        display: flex;
        justify-content: flex-end;

        button {
            margin-bottom: 96px;
            border: none;
        }
    }
}

.partners {
    background-color: #F4F5F5;
    padding-top: 80px;
    padding-bottom: 120px;

    h2 {
        font-size: 48px;
        font-weight: 700;
        margin-bottom: 100px;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &__item {
        margin-right: 50px;
        margin-bottom: 80px;
    }
}

.banner {
    background: url(https://github.com/multiair34/air-asia/blob/main/img/Rectangle.png?raw=true) center center no-repeat;
    background-size: cover;
    min-height: 363px;
    margin-bottom: 62px;

    &__text {
        font-size: 48px;
        font-weight: 700;
        line-height: 65px;
        color: #fff;
    }

    &__img {
        position: relative;
        padding-top: 21px;
    }
}

.nav-menu__check {
    display: none;
}

.contacts {
        

    &__work {
        display: none;
    }
}

@media (max-width: 1170px) {
    .container {
      max-width: 970px;
    }

    .offer__item {
        max-width: 100%;
    }

    .news {
        &__list {
            justify-content: normal;
            flex-wrap: wrap;
        }

        &__img {
            max-width: 100%;
            flex: 1 0 auto;
        }

        &__container {
            max-width: 557px;
        }
    }

    .hero {
        margin-bottom: 120px;

        &__title {
            font-size: 54px;
        }
    }

    .contacts {
        &__phone {
            font-size: 22px;
        }
    }

    .about-us {
        &::before {
            min-width: 420px;
        }

        &__wrap {
            padding: 68px 202px 85px 81px;
            min-width: 684px;
        }
    }

    .reviews {
        &__item {
            &-geo {
                font-size: 12px;
            }

            &-text {
                h3 {
                    font-size: 24px;
                    line-height: 34px;
                }
                p {
                    font-size: 14px;
                }
            }

            &-cont {
                a {
                    font-size: 21px;
                }
            }
        }
    }

    .banner {
        &__text {
            font-size: 42px;
            line-height: 53px;
        }
    }

    .comment {
        h2 {
            font-size: 42px;
        }

        &-quest {
            span {
                font-size: 16px;
            }

            &__list {
                justify-content: flex-end;
            }
        }

        &-form {
            &__text {
                font-size: 14px;
                min-width: 450px;

                &:nth-child(2) {
                    min-width: 450px;
                }
            }

            &__textarea {
                font-size: 14px;
                min-width: 929px;
                min-height: 200px;
            }
        }
    }

    .services {
        &__item {
            &-text {
                h3 {
                    font-size: 32px;
                }

                p {
                    font-size: 14px;
                    line-height: 26px;
                }
            }
        }
    }

    .btn {
        &_type {
            &_short {
                font-size: 12px;
            }
        }
    }

    .pagination {
        &__title {
            font-size: 14px;
        }

        &__item {
            font-size: 14px;
        }
    }

    .nav-menu__check {
        display: none;
    }

    .contacts {
        

        &__work {
            display: none;
        }
    }
}

@media (max-width: 992px) {
    .container {
      max-width: 750px;
    }

    .hero {
        &__title {
            font-size: 54px;
            font-weight: 700;
        }

        &__content {
            display: flex;
            justify-content: space-around;
            text-align: center;
        }
        &__text-section {
            align-items: center;
        }
    }

    .offer {
        &__list {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            align-content: space-around;
        }

        &__item {
            max-width: 70%;
            margin-bottom: 20px;
        }
    }

    .main-title {
        text-align: center;
    }

    .news {
        &__list {
            flex-direction: column;
            align-items: center;
        }

        &__item {
            margin-right: 0;
        }
    }
    
    .about-us {
        &__wrap {
            min-width: 400px;
            padding: 46px 29px 65px 37px;
        }
    }

    .nav-menu {
        flex-basis: 420px;
    }

    .transit {
        display: none;
    }

    .banner {
        &__img {
            max-width: 100%;
        }

        &__text {
            font-size: 36px;
        }
    }

    .comment {
        &-form {
            &__textarea {
                min-width: 100%;
                min-height: 150px;
            }

            &__text {
                min-width: 48%;

                &:nth-child(2) {
                    min-width: 48%;
                }
            }
        }
    }

    .wrapper {
        &__services {
            min-height: auto;
        }
    }

    .services {
        margin-bottom: 48px;
    }

    .partners {
        padding-top: 50px;
        padding-bottom: 48px;
    }

    .nav-menu__check {
        display: none;
    }

    .contacts {
        

        &__work {
            display: none;
        }
    }
}
  
  
@media (max-width: 767px) {
    .container {
        max-width: none;
      }

    .offer__list {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-content: space-around;
    }

    .offer__item {
        max-width: 100%;
        margin-bottom: 20px;
        margin-right: 0;
    }

    .offer__item:last-child {
        margin-right: 0;
    }

    .news__img {
        margin-left: 3000px;
    }
    .news__list {
        flex-wrap: wrap;
        min-width: 100%;
        min-height: 100%;
        background: #02303a;
        border-radius: 20px;
    }

    .news__item {
        min-width: 100%;
        min-height: 300px;
        background: #02303a;
        border-radius: 20px;
        align-items: flex-start;
        margin-right: 0px;
    }

    .news__item:last-child {
        border-top: #2E77A4 1px solid;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
    }

    .pagination {
        flex-wrap: wrap;
        margin-bottom: 50px;
    }

    .hero {
        margin-bottom: 120px;
    }

    .hero__text-section {
        align-items: center;
    }

    .hero__title {
        font-size: 48px;
        line-height: 48px;
        text-align: center;
    }

    .main-title {
        text-align: center;
    }

    .about-us {
        display: block;
    }

    .about-us::before {
        content: none;
    }

    .about-us__wrap {
        content: none;
        padding: 15px 15px;
        margin: 0;
        min-width: auto;
        min-height: auto;
        border-radius: 20px;
    }

    .footer {
        flex-wrap: wrap;
        justify-content: center;
        border-top: #818181 solid 0.5px;
        
    }

    .footer__col {
        align-items: center;
        flex-direction: column;
    }

    .reviews__list {
        display: flex;
        flex-direction: column;
    }

    .hero__services {
        margin-bottom: 50px;
    }

    .container-banner {
        flex-direction: column;
    }
    
    .banner__img {
        max-width: 100%;
    }

    .banner__text {
        font-size: 38px;
        line-height: 1.2;
    }

    .reviews__item-socials {
        padding-bottom: 10px;
    }

    .comment {
        font-size: 38px;
        line-height: 1.2;
        text-align: center;
    }

    .comment-form__text {
        min-width: 100%;
    }

    .comment-form__text:nth-child(2) {
        min-width: 100%;
    }

    .comment-form__textarea {
        min-width: 100%;
    }

    .comment-quest {
        flex-direction: column;
    }

    .comment__but {
        flex-direction: column;
    }

    .transit {
        display: none;
    }

    .reviews__item-img {
        padding-right: 10px;
    }

    .reviews__item-info {
        padding-left: 10px;
    }

    .btn__comment {
        margin-right: 0;
    }

    .comment__but button {
        margin-bottom: 20px;
    }

    .comment__but button:last-child {
        margin-bottom: 60px;
    }

    .comment-quest {
        span {
            padding-right: 0;
            white-space: normal;
        }
    }

    .services__item {
        flex-direction: column;

        &-img {
            max-width: 100%;
            margin-right: 0;
        }
    }

    .partners {
        &__img {
            max-width: 100%;

        }
    }

    .footer__col {
        .nav-menu__item {
            display: none;
        }
    }

    input {display: none;}
    label {cursor: pointer;}

    .nav-menu {user-select: none;}

    .menu__toggle {
        position: relative;
        z-index: 3;
        display: inline-block;
        margin-left: -10px;
        padding: 5px 10px 10px;
        top: 2px;
        font-size: 23px;
    }

    .nav-menu__back {
        height: 4px;
        width: 20px;
        background-color: #02303a;
        position: relative;
        top: 8px;
        right: 300px;
        transition: background-color .3s;
        z-index: 1;

        &::after {
            background-color: #02303a;
            content: "";
            height: 4px; 
            width: 20px;
            position: absolute;  
            top: 7px;
        }

        &::before {
            background-color: #02303a;
            content: "";
            height: 4px; 
            width: 20px;
            position: absolute;  
            top: 14px;
        }
    }

    .nav-menu__list {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        display: block;
        width: 220px;
        margin: 0;
        padding: 17px 0;
        text-transform: uppercase;
        line-height: 2em;
        background-color: #2c2c2c;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
        transform: translateX(-100%);
        transition: transform .3s;
        will-change: transform;
        backface-visibility: hidden;
    }

    .nav-menu__item {  
        display: block;
        text-align: center;
        text-decoration: none;
        color: #fff;
    }

    .nav-menu__check:checked~.nav-menu__back {
        background-color: rgba(0,0,0,.2);
        bottom: 0;
    }

    .nav-menu__item:hover,.menu__btn:hover {
        opacity: 0.7;
    }

    .nav-menu__list::-webkit-scrollbar {display: none;}
    .nav-menu__check:checked+.menu__btn {color:#fff;}
    .nav-menu__check:checked~.nav-menu__list {transform: translateX(0);}

    .contacts {
        

        &__work {
            display: none;
        }
    }

    
    .header {
        align-items: center;
        flex-direction: column;
        max-height: 40px;
        background: #666666;
        background-size: 10%;
        min-height: 0;
        flex-wrap: wrap;
        align-content: center;
    }

    .hero {
        border-top: #666666 10px solid;

        .container {
            padding: 0;
        }
    }

    .main-page-wrapper {
        background-size: 200%;
    }

    .logo {
        &__img {
            position: relative;

        }
        margin-left: 33%;
        margin-right: 20%;
    }
    /*
    .container {
        border-top: #303030 50px solid;
    }*/
}