@import "./base";
@import "./_normalise.scss";
@font-face {
    font-family: 'Open Sans', Helvetica, sans-serif;
    src: url(https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300&display=swap);
}

.container{
    margin: 0 auto;
    max-width: 1170px;
    padding: 0 15px;

    &-banner {
        display: flex;
        align-items: center;
    }
}

.wrapper {
    &__services {
        min-height: 412px;
        background-color: #fff;
        color: #000000;
    }

    &_login {
        min-height: 100vh;
        display: flex;
        align-items: stretch;
        width: auto;
        background: url(https://github.com/multiair34/air-asia/blob/main/img/bg.png?raw=true) center center no-repeat;
        background-size: cover;
        overflow: hidden;
    }
    
    &__start {
        margin: 0;
        margin: 356px 665px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
}

.main-page-wrapper {
    width: auto;
    background: url(https://github.com/multiair34/air-asia/blob/main/img/1.png?raw=true) center top no-repeat, url(https://github.com/multiair34/air-asia/blob/main/img/2.png?raw=true)  center bottom 165px no-repeat;
    background-size: 100%;
    overflow: hidden;
}

@import "./_index.scss";