* {
    text-decoration: none;
}

@import url('httpsbod://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    background-color: #001821;
    color: #FFFFFF;
    padding: 0;
    margin: 0;
}

.wrapper {
    max-width: 1140px;
    margin: 0  auto;
}

.container {
    max-width: 1140px;
    margin: 0  auto;
}


.header {
    display: block;
    margin-top: 26px;
    position: relative;
}

.nav-menu {
    display: inline-block;
    
}

.nav-menu__list {
   /* display: inline-block;
    position: relative;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    font-style: normal;
    left: 425px;
    bottom: 76px;*/
    
}

.nav-menu__item {
    display: inline-block;
    margin-left: 54px;
    padding: 0;
    position: relative;
    bottom: 5px;
    left: 25px;
}

a.nav-menu__link{
    color: #FFFFFF;
}

.logo__img {
    overflow: visible;
    display: inline-block;
    width: 85px;
    height: 36px;
    
    /*position: relative;
    left: 390px;
    bottom: 68px;*/
}


.contacts{
    display: inline-block;
    float: right;
}

.contacts__phone{ 
    color: #FFFFFF;
    font-size: 26px;
    line-height: 35px;
    display: inline-block;
}

.contacts__work-time {
    display: block;
    text-align: right;
    font-size: 13px;
    line-height: 20px;
    text-decoration-line: underline;
    color: #FFFFFF;
    margin-bottom: 27px;


}

.contacts__time {
    display: block;
    padding: 22px 19px 0px 19px;
    font-weight: 700;
    
}

.contacts__time_wight_bold{
    display: block;
    padding: 0px 28px 0px 19px;
    font-weight: 600;
    
}

.welcome-text {
    padding: 196px 0 246px;
}

.welcome-text__title {
    font-size: 72px;
    line-height: 98px;
    font-weight: 700;
    color: #FFFFFF;
    margin: 0;
    max-width: 511px;
    margin-bottom: 28px;
}

p.text {
    display: block;
    font-size: 18px;
    line-height: 20px;
    margin: 0;
    margin-bottom: 34px;
}

.btn {
    font-family: 'Open Sans', sans-serif;
    display: inline-block;
    background: #F5170E;
    color: #FFFFFF;
    border: 0;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    border-radius: 35px;
    padding: 18px 40px;
    line-height: 19px;
}

.offer {
    margin: 0;
    padding: 0;
}

.main-title {
    margin: 0;
    color: #FFFFFF;
    font-size: 36px;
    font-weight: 700;
}

.offer__icon {
    position: relative;
    top: 3px;
    left: 4px;    
}

.offer__list::after {
    content: "";
    clear: both;
    display: block;
}

.offer__list {
    margin: 0;
    list-style-type: none;
    padding: 0;
    margin-left: -18px;
    margin-top: 51px;
}

.offer__item {
    background-color: #FFFFFF;
    margin-left: 18px;
    float: left;
    width: 362px;
    border-radius: 5px 5px 0 0;
}

.offer__img {
    display: block;
    width: 362px;
    height: 144px;
    border-radius: 5px 5px 0 0;
}

.offer_desc {
    padding: 33px 16px 26px 22px;
}

.offer__tour-info {
    font-size: 16px;
    color: #666666;
    margin-bottom: 24px;
}

.offer__tour-content {
    display: inline-block;
    margin-right: 63px;

}

.offer__tour-content:last-child {
    margin-right: 0;
}

.offer__tour-img {
    display: inline-block;
    width: 26px;
    height: 26px;

}

.offer__tour-text {
    display: inline-block;
    padding-top: 0px;
   /* position: relative;
    bottom: 6px;
    left: 8px;
    margin: 0;
}

.offer__tour-text {
    display: inline-block;
    padding-top: 8px;
  /*  position: relative;
    bottom: 6px;
    left: 8px;*/
    margin: 0;
}

.offer__info {
    color: #303030;
    font-size: 14px;
    line-height: 21px;
    margin: 0;
    margin-bottom: 25px;
}

.btn_type_short {
    color: #F5170E;
    background: #FFFFFF;
    border: 1px solid #F5170E;
}

.btn_type_short:hover {
    color: #FFFFFF;
    background: #F5170E;
}


.news { 
    display: block;
    margin-bottom: 50px;
}

.news__title {
    margin-bottom: 51px;
}

.news-item {
    vertical-align: top;
    display: inline-block;
    width: 49%;
    margin-right: 0px;
}

.news-item__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;

}

.news-item__container {
    position: relative;
    left: 30px;
    bottom: 140px;

}

.news-item__date {
    display: block;
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 11px;
}

.news-item__name {
    display: inline-block;
    color: #FFFFFF;
    font-size: 24px;
    line-height: 36px;
    font-weight: 700;
    margin: 0;
    margin-bottom: 5px;
}

.news-item__specification {
    font-size: 16px;
    line-height: 21px;
    margin: 0;

}

.pagination {
    text-align: center;
}

.pagination__title {
    display: inline;
    font-size: 16px;
    line-height: 20px;
}

.nav-page {
    display: inline-block;
    font-size: 16px;
    margin-left: 30px;
}

.nav-page__list {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}

.nav-page__item {
    display: inline-block;
    margin-right: 4px;
}

li.nav-page__item:last-child {
    margin-right: 0;
}

.nav-page__link {
    color: #FFFFFF;
    line-height: 32px;
    font-weight: 700;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    width: 32px;
    height: 32px; 
}

.nav-page__link:hover {
    color: #F5170E;
    background: #FFFFFF;
}

section.about-us::before {
    content: "";
    width: 490px;
    height: 505px;
    display: block;
    background-image: url(https://github.com/multiair34/air-asia/blob/main/gates.png?raw=true);
    background-size: cover;
    position: absolute;
}

.about-us {
    display: inline-block;
    width: 1140px;
    margin: 0;
}

.about-us__img {
    display: inline-block;
    float: left;
    width: 490px;
    height: 505px;
    border-radius: 5px;
    display: none;
}

.about-us__wrap {
    background-image: url(https://github.com/multiair34/air-asia/blob/main/mountains.png?raw=true);
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
    max-width: 711px;
    padding: 156px 202px 164px 81px;
    box-sizing: border-box;
    position: relative;
}

.about-us__img-text {
    position: absolute;
    width: 785px;
    height: 455px;
    top: 472px;
    right: 30px;
}

.about-us__title {
    position: relative;
    top: 510px;
    right: 85px;
    color: #000000;
    font-size: 36px;
    font-weight: 700;
    line-height: 49px;
}

.about-us__text {
    font-size: 16px;
    line-height: 27px;
    color: #060606;
    position: relative;
    width: 502px;
    text-align: left;
}

.btn__about-us {
    
}

.footer {
    width: 1140px;
    display: block;
}

.footer__border {
    border-top: 1px solid #FFFFFF;
    opacity: 0.1;  
}

.footer .logo {
    display: inline-block;
    position: relative;
    right: 70px;
    margin-top: 30px;
    margin-left: 40px;
    padding: 0;
}

.footer .nav-menu {
    display: inline-block;
}

.footer .nav-menu__list {
    list-style-type: none;
    margin-bottom: 10px;
}

.footer__nav-menu-item {
    display: inline-block;
    position: relative;
    bottom: 10px;
    padding-right: 54px;
    right: 30px;
}

.footer .nav-menu__link {
    display: inline-block;
    
}

.socials {
    list-style-type: none;
    text-decoration: none;
    display: inline-block;
    margin-left: 120px;
}

.socials__item {
    display: inline-block;
}

.socials__link {
    margin-left: 00px;
    padding-left: 10px;
}

.contacts-foot {
    display: inline-block;
    /*margin-left: 93px;
    margin-top: 25px;*/
    vertical-align: middle;
    margin-bottom: 25px;
}

.contacts-foot__text {
    color: #9A9A9A;
    font-size: 11px;
    line-height: 20px;
    margin-bottom: 10px;
    margin-left: 93px;
}

.contacts-foot__phone {
    color: #FFFFFF;
    font-size: 26px;
    line-height: 20px;
    margin-left: 65px;

}