* {
    text-decoration: none;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    background-color: #001821;
    color: #FFFFFF;
    padding: 0;
    margin: 0;
}

.wrapper {
    width: 1140px;
    margin: 0 auto;
}

.header {
    display: block;
    margin-top: 26.64px;
    position: relative;
}

.nav-menu {
    display: inline-block;
    
}

.nav-menu__list {
   /* display: inline-block;
    position: relative;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    font-style: normal;
    left: 425px;
    bottom: 76px;*/
    
}

.nav-menu__item {
    display: inline-block;
    margin-left: 54px;
    padding: 0;
    position: relative;
    bottom: 5px;
    left: 25px;
}

a.nav-menu__link{
    color: #FFFFFF;
}

.logo {
    overflow: visible;
    display: inline-block;
    width: 85px;
    height: 36px;
    
    /*position: relative;
    left: 390px;
    bottom: 68px;*/
}


.contacts{
    display: inline-block;
}

.contacts__phone{ 
    display: block;
   /* margin-left: 522px;*/
    color: #FFFFFF;
    font-size: 26px;
    line-height: 35px;
    position: absolute;
    left: 920px;
    bottom: 145px;
}

.contacts__work-time {
    display: block;
    text-align: right;
    font-size: 13px;
    line-height: 20px;
    text-decoration-line: underline;
    color: #FFFFFF;
    margin-left: 950px;
    margin-bottom: 27px;
    position: relative;
    bottom: 25px;

}

.contacts__hover {
    display: inline-block;
    color: #1E1F20;
    background: #EDEDED;
    position: relative;
    text-align: center;
    font-size: 13px;
    line-height: 21px;
    width: 160px;
    height: 80px;
    mix-blend-mode: normal;
    opacity: 0.8;
}

.contacts__time {
    display: block;
    padding: 22px 19px 0px 19px;
    font-weight: 700;
    
}

.contacts__time_wight_bold{
    display: block;
    padding: 0px 28px 0px 19px;
    font-weight: 600;
    
}

.welcome-text {
    position: absolute;
    width: 511px;
    height: 333px;
    left: 390px;
    top: 196px;
}

.welcome-text__title {
    font-size: 72px;
    line-height: 98px;
    font-weight: 700;
    color: #FFFFFF;
    margin: 0;
}

p.text {
    display: block;
    font-size: 18px;
    line-height: 20px;
    padding-top: 10px;
}

.btn {
    font-family: 'Open Sans', sans-serif;
    display: block;
    position: relative;
    top: 17px;
    right: 0px;
    background: #F5170E;
    color: #FFFFFF;
    border: 0;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    border-radius: 35px;
    width: 168px;
    height: 55px;
    line-height: 19px;
}

.offer {
    position: absolute;
    width: 1200px;
    left: 392px;
    top: 745px;
    margin: 0;
    padding: 0;
}

h2 {
    color: #FFFFFF;
    font-size: 36px;
    font-weight: 700;
}

.main-title {
    margin-bottom: 0;
}

.offer__icon {
    position: relative;
    top: 3px;
    left: 4px;    
}

.offer__list {
    display: inline;
    margin: 0;
    list-style-type: none;
    width: 362px;
    padding: 0;
}

.offer__item {
    background-color: #FFFFFF;
    margin-left: 30px;
    margin-top: 51px;
    float: left;
    width: 362px;
    position: relative;
    right: 35px;
    border-radius: 5px 5px 0 0;
}

.offer__img {
    display: block;
    width: 362px;
    height: 144px;
    border-radius: 5px 5px 0 0;
}

h3 {
    display: inline-block;
    font-size: 24px;
    font-weight: 700;
    color: #000000;
    line-height: 33px;
    margin: 32px 0 0 25px;
    padding: 0 0 0px 0;
}

.offer__tour-info {
    font-size: 16px;
    color: #666666;
}

.offer__tour-content {
    display: inline-block;
}

.offer__tour-img1 {
    display: inline-block;
    width: 26px;
    height: 26px;
    margin-top: 22px;
    margin-left: 28px;
}

.offer__tour-img2 {
    display: inline-block;
    width: 36px;
    height: 26px;
    position: relative;
    left: 3px;
    margin: 0;
    margin-left: 28px;
}

.offer__tour-text1 {
    display: inline-block;
    padding-top: 0px;
    position: relative;
    bottom: 6px;
    left: 8px;
    margin: 0;
}

.offer__tour-text2 {
    display: inline-block;
    padding-top: 8px;
    position: relative;
    bottom: 6px;
    left: 8px;
    margin: 0;
}

.offer__info {
    color: #303030;
    font-size: 14px;
    line-height: 21px;
    margin: 22px 16px 0 22px;
}

.btn_type_short {
    color: #F5170E;
    background: #FFFFFF;
    display: block;
    width: 135px;
    height: 55px;
    margin-bottom: 43px;
    margin-left: 27px;
    margin-top: 9px;
    border: 1px solid #F5170E;
    box-sizing: border-box;
    border-radius: 35px
}

.btn_type_short:hover {
    color: #FFFFFF;
    background: #F5170E;
}


.news { 
/*     display: inline-block; */
/*     width: 1200px; */
    display: block;
    position: relative;
    top: 1205px;
    right: 30px;
    width: 1180px;
    left: ;
}

.news__title {
    /*position: relative;*/
    font-size: 36px;
    line-height: 49px;
    font-weight: 700;
    padding-top: 6px;
/*     left: 390px;
    top: 1265px; */
}

.news-text {
    /*position: relative;*/
    display: inline-block;
    width: 49%;
}

.news__img {
   /* position: absolute;*/
    display: inline-block;
    border-radius: 5px;
    margin-top: 22px;
    
/*    top: 1550px;*/
  /*  top: 50px;*/
/*     left: 390px;
    bottom: 150px; */
    
}

.news__date {
    display: block;
    position: relative;
    bottom: 142px;
    left: 30px;
  /*  display: inline-block;
    position: absolute;
    top: 290px;
    left: 418px;
   /* margin-left: 420px;
    margin-top: 305px;*/
/*     position: relative;
    left: 418px;
    bottom: 155px; */
/*     margin-top: 305px; */
    
}

.news__name {
    position: relative;
    display: inline-block;
    color: #FFFFFF;
    bottom: 158px;
    left: 5px;
    margin-bottom: 15px;
/*     bottom: 170px;
    left: 395px; */
    
}

.news__specification {
   /* display: inline-block;
    position: absolute;
    margin-left: 460px;
    margin-top: 300px;
    */
    position: relative;
    display: inline-block;
    vertical-align: top;
    text-align: left;
    bottom: 185px;
    left: 30px;
    font-size: 16px;
    line-height: 21px;
   /*position: absolute;
    font-size: 16px;
    line-height: 21px;
    bottom: 115px;
    padding-left: 30px;
    vertical-align: top;
/*     position: relative;
    left: 421px;
    bottom: 180px; */
}

.pagination {
    display: inline;
    position: relative;
    bottom: 134px;
    left: 382px;
}

.pagination__title {
    display: inline;
    font-size: 16px;
    line-height: 20px;
  /*  position: absolute;
    bottom: 134px;
    left: 382px;*/
}

.nav-page {
    display: inline-block;
    font-size: 16px;
}

.nav-page__list {
    list-style-type: none;
    margin-top: 20px;
    padding-left: 30px;
}

.nav-page__item {
    display: inline;
    padding-right: 24px;
   /* position: relative;
    bottom: 132px;
    left: 500px;
    margin-right: 24px;*/
}

.nav-page__link {
    color: #FFFFFF;
    line-height: 21px;
    font-weight: 700;

}

.nav-page__link:hover {
    color: #F5170E;
    background: #FFFFFF;
    border: 6px solid #FFFFFF;
    border-radius: 50%;
}

.about-us {
    display: inline-block;
    width: 1140px;
    margin: 0;
    position: absolute;
    top: 1800px;
}

.about-us__img {
    display: inline-block;
    float: left;
    width: 490px;
    height: 505px;
    border-radius: 5px;
    position: relative;
    top: 375px;
    right: 30px;
}

.about-us__img-text {
    position: absolute;
    width: 785px;
    height: 455px;
    top: 472px;
    right: 30px;
}

.about-us__title {
    position: relative;
    top: 510px;
    right: 85px;
    color: #000000;
    font-size: 36px;
    font-weight: 700;
    line-height: 49px;
}

.about-us__text {
    font-size: 16px;
    line-height: 27px;
    color: #060606;
    position: relative;
    padding-top: 650px;
    left: 405px;
    bottom: 115px;
    width: 502px;
    text-align: left;
}

.btn__about-us {
    position: absolute;
    left: 405px;
    top: 805px;
}

.footer {
    width: 1140px;
    display: block;
    position: absolute;
    top: 2800px;
}

.footer__border {
    border-top: 1px solid #FFFFFF;
    opacity: 0.1;  
}

.footer .logo {
    display: inline-block;
    position: relative;
    right: 70px;
    margin-top: 30px;
    margin-left: 40px;
    padding: 0;
}

.footer .nav-menu {
    display: inline-block;
}

.footer .nav-menu__list {
    list-style-type: none;
    margin-bottom: 10px;
}

.footer__nav-menu-item {
    display: inline-block;
    position: relative;
    bottom: 10px;
    padding-right: 54px;
    right: 30px;
}

.footer .nav-menu__link {
    display: inline-block;
    
}

.socials {
    list-style-type: none;
    text-decoration: none;
    display: inline-block;
    margin-left: 120px;
}

.socials__item {
    display: inline-block;
}

.socials__link {
    margin-left: 00px;
    padding-left: 10px;
}

.contacts-foot {
    display: inline-block;
    /*margin-left: 93px;
    margin-top: 25px;*/
    vertical-align: middle;
    margin-bottom: 25px;
}

.contacts-foot__text {
    color: #9A9A9A;
    font-size: 11px;
    line-height: 20px;
    margin-bottom: 10px;
    margin-left: 93px;
}

.contacts-foot__phone {
    color: #FFFFFF;
    font-size: 26px;
    line-height: 20px;
    margin-left: 65px;

}