* {
    text-decoration: none;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", Helvetica, sans-serif;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 1.42;
    background: #001821;
    margin: 0;
}

a  {
    color: inherit;
}

ul {
    padding: 0;
    margin: 0;
}

ul li {
    list-style: none;
}

h1, h2, h3, h4 {
    margin: 0;
    font-weight: normal;
}

p {
    margin-top: 0;
}

.container{
    margin: 0 auto;
    width: 1140px;
}

.btn {
    font-size: 14px;
    background: #F5170E;
    border-radius: 35px;
    padding: 18px 40px;
    color: #FFFFFF;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
}

.btn:hover {
    background: #DA0100;
}

.btn_type_short {
    color: #F5170E;
    background: #FFFFFF;
    border: 1px solid #F5170E;
    padding: 18px 30px;
}

.btn_type_short:hover {
    background: #F5170E;
    color: #FFFFFF;
}