.main-page-wrapper {

    width: auto;
    background: url(https://github.com/multiair34/air-asia/blob/main/img/1.png?raw=true) center top no-repeat, url(https://github.com/multiair34/air-asia/blob/main/img/2.png?raw=true)  center bottom 165px no-repeat;
    overflow: hidden;
}

.container_start {
   /* width: auto;
    background: url(https://github.com/multiair34/air-asia/blob/main/img/bg.png?raw=true) center center no-repeat;
    background-size: cover;
    overflow: hidden;
    display: flex;
    justify-content: center;*/
}