.banner {
    background: url(https://github.com/multiair34/air-asia/blob/main/img/Rectangle.png?raw=true) center center no-repeat;
    background-size: cover;
    min-height: 363px;
    margin-bottom: 62px;
}

.container-banner {
    display: flex;
    align-items: center;
}

.banner__text {
    font-size: 48px;
    font-weight: 700;
    line-height: 65px;
    color: #fff;

}

.banner__img {
    position: relative;
    padding-top: 21px;
}