.btn {
    font-size: 14px;
    background: #F5170E;
    border-radius: 35px;
    padding: 18px 40px;
    color: #FFFFFF;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
}

.btn:hover {
    background: #DA0100;
    transition: 0.5s;
}

.btn_type_short {
    color: #F5170E;
    background: #FFFFFF;
    border: 1px solid #F5170E;
    padding: 18px 30px;
}

.btn_type_short:hover {
    background: #F5170E;
    color: #FFFFFF;
    transition: 0.5s;
}

.btn_start {
    font-size: 14px;
    font-weight: 700;
    padding: 18px 58px;
}

.btn__comment {
    margin-right: 18px;
    background: #8E8E8E;
}

.btn__comment:hover {
    background: #2B2B2B;
    transition: 0.5s;
}

.btn__comment:nth-last-child(1) {
    margin-right: 0;
}