.contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.contacts__text {
    color: #9A9A9A;
    font-size: 11px;
}

.contacts__phone {
    font-size: 26px;
    margin-bottom: 0px;
    line-height: 25px;
}

.contacts__work  {
    position: relative;
    display: inline-block;
}

.contacts__work-figure {   
    border: 10px solid transparent;
    width: 0px; 
    height: 0px;
    border-bottom-color: #EDEDED;   
    border-top-width: 0;
}   

.contacts__work-quad {
    position: absolute;
    width: 160px;
    height: 70px;
    background: #EDEDED;
    border-radius: 5px;
    left: 0px;
}

.contacts__work-time  {
    order: 10;
    font-size: 13px;
    text-decoration: underline;
    line-height: 15px;
    color: #98A4A8;
}

.contacts__work-time:hover {
    color: #FFFFFF;
}

.contacts__work:hover .contacts__work-dropdown {
    display: block;
}

.contacts__work-dropdown {
    position: absolute;
    padding: 10px;
    width: 200px;
    top: 100%;
    display: none;
    opacity: 0;
    transition: opacity .4s;
    left: -9999px;
}

.contacts__work:hover .contacts__work-dropdown {
    left: 0;
    opacity: 1;
}

.contacts__work-dropdown::before {
    content: "";
    display: block;
    height: 200px;
    left: 0px;
    right: 0px;
    top: -15px;
    position: absolute;
}

.contacts__work-item {
    font-size: 13px;
    line-height: 21px;
    font-weight: 700;
    color: #1E1F20;
    position: relative;
    padding: 15px 10px;
    padding-bottom: 0;
}

.contacts__work-item:last-child {
    font-weight: 600;
    padding: 0 10px;
}


