.nav-menu {
    display: flex;
    flex-basis: 690px;
}

.nav-menu__list {
    display: flex;
    flex-basis: 400px;
    justify-content: space-evenly;
}

.nav-menu__item:last-child {
    margin-right: 0;
}

.nav-menu__link {
    font-size: 14px;
    line-height: 19px;
    text-decoration: none;
}

.nav-menu__link:hover {
    color: #DA0100;
}