.services {
    margin-bottom: 90px;
}

.services__item {
    display: flex;
    margin-bottom: 30px;
    padding-bottom: 30px;
}

.services__item-img {
    margin-right: 56px;
    object-fit: cover;
}

.services__item-text h3{
    display: flex;
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 29px;
}

.services__item-text p{
    font-size: 16px;
    color: #303030;
    line-height: 30px;
}

.services__item:last-child {
    padding: 0;
    margin: 0;
}

.services__list {
    margin-bottom: 50px;
}

