.services {
    margin-bottom: 95px;
}

.services__item {
    display: flex;
    align-items: flex-start;
    margin-bottom: 30px;
}

.services__item-img {
    margin-right: 56px;
    
}

.services__item-text h3{
    display: flex;
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 29px;
}

.services__item-text p{
    font-size: 16px;
    color: #303030;
    line-height: 30px;
}

.services__item-text {
    padding-bottom: 0px;
}

.services__item:last-child {
    margin-bottom: 0;
}

.services__list {
    margin-bottom: 30px;
}